body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
}

main {
    height: 660px;
    padding: 0;
    margin: 0;
    background-color: #f2f4f7;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 50px  ;
}

.main-info {
    margin-bottom: 100px;
}
.main-info h2{
    margin: 0px;
    font-size: 30px;
    font-weight: normal;
}

.facebook {
    padding: 0;
    margin: 0;
    font-size: 70px;
    color:dodgerblue;
    font-weight: bold;
}

.authorization {
    width: 400px;
}
main section {
    width: 500px;
}
form {
    height: 350px;
    display: grid;
    background-color: white;
    grid-template-columns: 100%;
    justify-content: center;
    margin-bottom: 25px;
}

form input {
    padding: 10px;
    margin: 17px;
    padding-left: 10px;
    font-size: 15px;
}

#password {
    margin-top: 0px;
}

#submit {
    margin-top: 0px;
    background-color: rgb(47, 99, 255);
    color:white;
    font-size: 20px;
    font-weight: 700;
}

form a {
    margin: 0px 15px;
    padding-bottom: 15px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #9d9d9e;
}

#create-new-account {
    margin: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#create-new-account button {
    width: 235px;
    height: 50px;
    background-color:#61ce2f;
    color: white;
    font-weight:600;
    font-size: 15px;
}

.create-page {
    padding: 0px 0px;
    text-align: center;
}

.languages {
    display: grid;
    justify-content: center;
}
.languages nav{
    padding: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    gap: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #9d9d9e;
}

.other_links nav {
    margin-top: 15px;
    margin-left: 375px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
  
.other_links nav a {
    flex: 1 1 auto;
}